{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions - Page 1 of 6
{% endblock %}

{% block content %}

<script>
new Notification("Multiplayer Cyber Security Game HIT is starting",{body:"Enough Mturks have accepted this HIT. Please return to the HIT to complete it."});
</script>
<audio autoplay><source src="{% static 't_w_g_intro/alarm.mp3' %}" type="audio/mpeg"></audio>

		<p>You are participating in a three player interactive cyber security game with

attackers, defenders and users. You will be playing in real time against other online

participants. You have been randomly chosen to play as the <strong>{{player.role}}</strong>.

Please read the following instructions carefully because you will be taking a quiz

measuring how well you understand the instructions right after.</p>





    {% next_button %}

{% endblock %}
