{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Answer to Game Understanding Question 3 of 3
{% endblock %}

{% block content %}
    <p>
        The question was: Which of the following outcomes will offer you the highest monetary reward?
    </p>

    <p>
        You answered: {{ player.training4 }}
    </p>

    {% if player.is_training4_correct %}
        <p class="text-success">Your answer is correct.</p>

    {% else %}
        <p class="text-danger">Your answer is incorrect. The correct answer is
        {% if player.role == 'attacker' %}
            {{ att_ans }}
        {% elif player.role == 'defender' %}
            {{ def_ans }}
        {% elif player.role == 'user' %}
            {{ user_ans }}
        {% endif %}</p>

    {% endif %}

    <P>Click Next to start the game</P>

    {% next_button %}

{% endblock %}
