{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Game Understanding Question 2 of 4
{% endblock %}

{% block content %}

        <p>{% if player.role == 'attacker' %}
            {% include 't_w_g_intro/Ainstr.html' %}
        {% elif player.role == 'defender' %}
            {% include 't_w_g_intro/Dinstr.html' %}
        {% elif player.role == 'user' %}
            {% include 't_w_g_intro/Uinstr.html' %}
        {% endif %}
        </p>

<p>To test your understanding of the game, please answer the following question</p>

        <p>
            {% if player.role == 'attacker' %}
            {% formfield player.training2a with label='Which of the following actions is more costly to start with?'%}
        {% else%}
            {% formfield player.training2du with label='Which of the following actions is more costly to start with?'%}</p>
        {% endif %}

    {% next_button %}

{% endblock %}
