{% extends "global/Instructions.html" %}
{% load staticfiles otree_tags %}

{% block instructions %}
    
    <p>You are participating in a three player interactive cybersecuritygame with attackers, defenders and users. You will be playing in real time against other online participants. You have been randomly chosen to play as the <strong>attacker</strong>. The outcome of each round depends on the combination of each of the players' decisions.</p>

	<p>Here are the choices you are presented with. The cost, probabilities, and payoff/reward are included in the table below.
	<img src="{% static "t_w_g_du/attacker.png" %}"/>
	</p>
	
{% endblock %}