{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Game Understanding Question 3 of 3
{% endblock %}

{% block content %}

<p>To test your understanding of the game, please answer the following question</p>

{% formfield player.training4 with label='Which of the following outcomes will offer you the highest monetary reward?' %}

        <p>{% if player.role == 'attacker' %}
            {% include 't_w_g_intro/Ainstr.html' %}
        {% elif player.role == 'defender' %}
            {% include 't_w_g_intro/Dinstr.html' %}
        {% elif player.role == 'user' %}
            {% include 't_w_g_intro/Uinstr.html' %}
        {% endif %}
        </p>


    {% next_button %}

{% endblock %}
