{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions - Page 5 of 6
{% endblock %}

{% block content %}

	<p>
        You will be provided with a table which will include all the relevant information

regarding your options, and associated costs, probabilities of success, and potential

payoffs. The table will remain available to you on all subsequent screens for your

convenience. The next page provides a brief explanation of how to read the table.</p>

<p>There are {{game_rounds}} rounds in this game. You will be paid ${{participation}} as a participation fee and an additional bonus depending on your performance. We will select the outcomes of {{paid_rounds}} rounds out of {{total_rounds}} as your bonus payoff. If the bonus amount is less than ${{minimal_bonus}}, your bonus will be ${{minimal_bonus}}. If the bonus amount is more than ${{max_bonus}}, your bonus will be ${{max_bonus}}. Before you play the game there will be {{num_rounds}} practice rounds for you to play so that you can familiarize yourself with the game. After the practice rounds you will be presented with a question that tests your understanding of the game.</p>
<p>You are given 45 seconds to make a decision for each round. If you do not make a decision within the time limit, a choice will be randomly generated for you, but you will not obtain the payoff for that round should it be selected for your performance bonus.</p>

    {% next_button %}

{% endblock %}
